.grid-container {
    background: var(--color_backgound);
    margin: 20px;

    .img {
        padding: 0 15px;
        border-radius: 10px;
        position: relative;

        .icone_banner {
            position: absolute;
            top: 30px;
            left: 270px;
            background-image: url("/assets/img/icone_banner.svg");
            background-repeat: no-repeat;
            font-size: 50px;
            height: 350px;
            width: 350px;
        }

        .banner {
            background-image: url("/assets/img/banner.svg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 400px;
            width: 100%;
            border-radius: 10px;
            box-shadow: 5px 5px 0px 2px var(--color_primary);
            margin-bottom: 25px;
        }

        .primeiro {
            position: absolute;
            text-align: end;
            top: 50px;
            right: 240px;
            color: var(--color_text);
            font-size: 80px;
            font-family: var(--font_title), "Helvetica Neue";
            margin: 0 0 20px;
        }

        .segundo {
            position: absolute;
            text-align: center;
            top: 200px;
            right: 240px;
            color: var(--color_text);
            font-size: 30px;
            font-family: var(--font_secundary), "Helvetica Neue";
            margin-bottom: 10px;
            border: solid 5px var(--color_primary);
            border-radius: 20px;
            background-color: var(--color_primary);
        }
    }

    .dashboard-card {
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        background: var(--color_backgound_sec);
        color: var(--color_text);
        text-align: center;

        .dashboard-title {
            
            font-family: var(--font_secundary), "Helvetica Neue";
            margin: 15px 0 0;
        }

        .dashboard-card-content {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: justify;
            height: 260px;
            font-family: var(--font_primary), "Helvetica Neue";
        }
    }
}

@media (max-width: 1650px) {
    .grid-container {
        .img {
            .primeiro {
                font-size: 45px;
            }

            .segundo {
                font-size: 25px;
                top: 150px;
            }
        }
    }
}

@media (max-width: 1470px) {
    .grid-container {
        .img {

            .icone_banner {
                left: 150px;
            }

            .primeiro {
                font-size: 45px;
                right: 140px;
            }

            .segundo {
                top: 150px;
                font-size: 25px;
                right: 140px;
            }
        }
    }
}

@media (max-width: 1246px) {
    .grid-container {
        .img {

            .icone_banner {
                left: 30px;
            }

            .primeiro {
                right: 80px;
            }

            .segundo {
                font-size: 25px;
                right: 80px;
            }
        }
    }
}

@media (max-width: 979px) {
    .grid-container {
        .img {
            .icone_banner {
                background-image: url("/assets/img/icone_banner_responsive.svg");
                top: 80px;
                left: 100px;
            }

            .primeiro {
                top: 80px;
                right: 50px;
                font-size: 45px;
            }

            .segundo {
                top: 170px;
                right: 50px;
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 850px) {
    .grid-container {
        .img {
            .icone_banner {
                background-image: url("/assets/img/icone_banner_responsive.svg");
                top: 170px;
                left: 50px;
            }

            .primeiro {
                top: 60px;
                right: 50px;
                font-size: 35px;
            }

            .segundo {
                top: 150px;
                right: 50px;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 749px) {
    .grid-container {
        .img {

            .icone_banner {
                background-image: url("/assets/img/icone_banner_responsive.svg");
                top: 70px;
                left: 30px;
            }

            .banner {
                background-image: url("/assets/img/banner_responsive.svg");
                background-size: cover;
                background-repeat: no-repeat;
                height: 300px;
            }

            .primeiro {
                top: 70px;
                right: 50px;
                font-size: 25px;
            }

            .segundo {
                top: 140px;
                right: 50px;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 480px) {
    .grid-container {
        .img {

            .icone_banner {
                background-image: url("/assets/img/icone_banner_responsive2.svg");
                top: 140px;
                left: 30px;
            }

            .primeiro {
                top: 40px;
                right: 40px;
                font-size: 25px;
            }

            .segundo {
                top: 90px;
                right: 40px;
                font-size: 13px;
            }
        }
    }
}

::ng-deep .mat-toolbar.mat-primary {
    background: var(--color_primary);
}

::ng-deep .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 5px 5px 0px 2px var(--color_primary);
}