@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@300&family=Passion+One&display=swap');

:root{

    --color_primary: #662dc1;
    --color_text: #ebf0f1;
    --color_backgound: #1E2227;
    --color_backgound_sec: #323940;

    --foto_perfil: url("/assets/themes/daniel/images/foto_perfil.jpg");
    --foto_banner: url("/assets/img/imagem_fundo.jpg")
    --foto_banner_responsive: url("/assets/img/imagem_fundo_responsive.jpg")

    --font_primary: "Nunito";
    --font_secundary: "bebas neue";
    --font_title: "passion one";

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
